<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="GraphTransformationSystemVisualEditor"
            default="false"
            extensions="transform"
            id="VisualEditor.maineditor"
            name="Graph Transformation System">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="menu principale de l editeur visuel"
            id="VisualEditor.GraphTransformationActionset"
            label="menu principale de l editeur visuel"
            visible="true">
         <menu
               id="VisualEditor.GraphTransformationmenu"
               label="G&amp;raphTransformation"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="ExecuteRuleActionDelagate"
               icon="src/Icon/run.GIF"
               id="VisualEditor.ExecuteRuleAction"
               label="E&amp;xecute Rule"
               menubarPath="VisualEditor.GraphTransformationmenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="executer la règle de production séléctionnée sur le graphe hôte">
         </action>
         <action
               class="LoadGraphActionDelegate"
               icon="src/Icon/New.GIF"
               id="VisualEditor.nouveauGraphhote"
               label="New  Host Graph"
               menubarPath="VisualEditor.GraphTransformationmenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="charger le graphe hote sur lequel sera effectuer les transformations">
         </action>
         <action
               class="LoadGrammarAD"
               icon="src/Icon/open.GIF"
               id="VisualEditor.chagerGramaire"
               label="Load Grammar"
               menubarPath="VisualEditor.GraphTransformationmenu/content"
               style="push"
               toolbarPath="Normal/additions"
               tooltip="charger une grammaire de graphe">
         </action>
         <action
               id="VisualEditor.apropos"
               label="A propos de notre travail "
               menubarPath="VisualEditor.GraphTransformationmenu/content"
               style="push">
         </action>
         <action
               class="ViewPreferenceValues"
               id="VisualEditor.action1aaa"
               label="View P"
               menubarPath="VisualEditor.GraphTransformationmenu/content"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="GraphTransformation"
            name="Graph Transformation">
      </category>
      <wizard
            category="GraphTransformation"
            class="visualeditor.wizards.GraphNewWizard"
            icon="icons/sample.gif"
            id="visualeditor.wizards.GraphNewWizard"
            name="new graph">
      </wizard>
      <wizard
            category="GraphTransformation"
            class="visualeditor.wizards.GrammarNewWizard"
            icon="icons/sample.gif"
            id="visualeditor.wizards.GrammarNewWizard"
            name="new grammar">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="VisualEditor.popupMenu"
            objectClass="visualeditor.PopmenuObjectone">
         <action
               class="visualeditor.VisualEditorAction1"
               enablesFor="+"
               id="VisualEditor.action1"
               label="Add to Graph T"
               menubarPath="additions"
               tooltip="Add the selected resource(s) to the Graph Transformation view">
         </action>
         <action
               class="visualeditor.Action1"
               enablesFor="+"
               id="VisualEditor.action1"
               label="Add to Graph T"
               menubarPath="additions"
               tooltip="Add the selected resource(s) to the Graph Transformation view">
         </action>
         <action
               class="visualeditor.Action1"
               enablesFor="+"
               id="VisualEditor.action1"
               label="Add to Graph T"
               tooltip="Add the selected resource(s) to the Graph Transformation view">
         </action>
         <action
               class="visualeditor.Action1"
               enablesFor="+"
               id="VisualEditor.action1"
               label="label"
               tooltip="Add the selected resource(s) to the Graph Transformation view">
         </action>
         <action
               class="visualeditor.Action1"
               id="VisualEditor.action1"
               label="label">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="visualeditor.preferences.TransformationPreferencePage"
            id="visualeditor.preferences.TransformationPreferencePage"
            name="Graph Grammar">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="visualeditor.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
